/*
#003331 dark bg
#00FFF8 light bg
#11D97C hover green
#161616 black bg
#035949 contact card bg
#08A689 light green bg
#00333181 account/checkout bg
#CFCFCF light grey
#38706D checkout h1
*/
/*SHADOW
filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));*/


body {
    background-image: linear-gradient(#003331, #00FFF8);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}




/*-----BUTTONS-----*/
.btn-add-cart_black {
    background-color: #161616;
    padding: 1.35rem 10rem;
    margin-right: 2rem;
    font-weight: bolder;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.btn-add-cart_black:hover {
    color: #11D97C;
}

.favourite_black {
    background-color: #161616;
    padding: 1rem;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(26, 26, 26, 0.37));
}

.favourite_black:hover {
    color: #11D97C;
}

.btn-left-small {
    color: white;
    position: absolute;
    top: 12rem;
    left: 10rem;
}

.btn-left-small:hover {
    color: #11D97C;
}

/*-----PRIMARY NAVIGATION-----*/
.primary-nav {
    padding: 0.2rem 4rem;
    display: flex;
    background-color: #141414e5;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.primary-nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.primary-nav a {
    color: white;
}

.primary-nav a:hover {
    color: #11D97C;
}

.primary-nav ul li a.on-page {
    color: #11D97C;
}

/*-----GAMES NAVIGATION-----*/
.games-nav a:hover {
    color: #11D97C;
    text-decoration: underline;
}

.games-nav ul li .on-page_games-nav {
    color: #11D97C;
    text-decoration: underline;
}

.games-nav {
    display: flex;
    flex-direction: column;
}

.games-nav a {
    font-size: 1.5rem;
}

.games-nav ul li {
    margin-top: 1rem;
}

/*-----ACCOUNT NAVIGATION-----*/
.account-nav a:hover {
    color: #11D97C;
    text-decoration: underline;
}


/*-----FOOTER-----*/
footer {
    background-color: #161616;
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-container {
    display: flex;
}

footer ul {
    display: flex;
    align-items: center;
}

footer ul li a {
    padding: 1rem;
    align-self: center;
}

footer a:hover {
    color: #11D97C;
}

footer h2 {
    font-weight: normal;
    font-size: 1.2rem;
    margin-right: 2.5rem;
}

/*-----BLACK OPS ONE STYLE CLASS-----*/
.style_b-ops {
    font-family: 'Black Ops One', 'Open Sans', cursive, arial;
}

.full-vh_header {
    min-height: 100vh;
}

/*_____MEDIA-QUERIES max:900px_____*/
@media screen and (max-width: 900px) {
    /*_PRIMARY NAV_*/
    .primary-nav {
        flex-direction: column;
        position: static;
    }
    .primary-nav ul {
        flex-wrap: wrap;
    }
    .primary-nav a {
        padding: 0.5rem;
    }
    /*_FOOTER_*/
    footer {
        flex-direction: column;
    }
    footer h2 {
        display: none;
    }
    .social-container {
        margin-bottom: 1rem;
    }

}
/*_____MEDIA-QUERIES max:430px_____*/
@media screen and (max-width: 430px) {
    .primary-nav {
        padding: 0 0 0.4rem 0;
    }
    .primary-nav a img {
        width: 15rem;
    }
}