

/*--GLOBAL SETTINGS--*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*--INDEX--*/
/*header--
*/
.header-index {
    background-image: linear-gradient(#003331e3, #00fff7ea),
    url(/images/background/index-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.index_hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index_hero-btn {
    padding: 2.2rem 4rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    background-color: #161616;
}

.index_hero-btn:hover {
    color: #11D97C;
    text-decoration: underline;
}

.index_hero-content h3 a {
    color: #11D97C;
}
.index_hero-content h3 a:hover {
    text-decoration: underline;
}

.index_hero-content h1 {
    font-size: 3.7rem;
}

.index_hero-content h2 {
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.index_hero-content h3 {
    margin-bottom: 5rem;
}

/*main--
*/
.index_main {
    align-items: center;
    display: flex;
    padding: 6rem;
    justify-content: center;
    height: 90vh;
    margin-bottom: 0.7rem;
}

.index_main div h2 {
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
}

.index_main-content {
    padding: 2.5rem;
    margin-top: 1.7rem;
    background-color: #161616;
    height: 32rem;
    width: 30rem;
}

.index_main-content h3 {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.index-main_p-margin {
   margin-bottom: 7rem;
}

.index_main-content h4 {
    font-weight: normal;
}

/*--CONTACT--*/
.contact-cards-email, .contact-cards-phone {
    background-color: #035949;
}

.header-contact {
    background-image: linear-gradient(#003331e3, #00fff7ea),
    url(/images/background/contact-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
/*GAMES-MAIN*/
.games_preo-main-info {
    background-color: #161616;
}

.games_preo-main-info h3 {
    color: #11D97C;
}

.games_preo-main-info a {
    background-color: #08A689;
}

/*GAMES*/
.games-description {
    background-color: #161616;
}

/*CART*/
.cart-cards > div {
    background-color: #00333181;
}

.cart-cards .trash-can {
    color: #CFCFCF;
}

.total-sum a {
    background-color: #161616;
}

.total-sum a:hover {
    color: #11D97C;
}

/*CART NO ITEM*/
.no-item_section {
    background-color: #00333181;
}

.no-item_section div a {
    background-color: #161616;
}

.no-item_section div a:hover {
    color: #11D97C;
}

/*CHECKOUT-1*/
.checkout-1_card {
    background-color: white;
}

.checkout-1_card h1 {
    color: #38706D;
}

/*CHECKOUT-2*/
.checkout-2_card {
    background-color: white;
}

.checkout-2_card h1 {
    color: #38706D;
}

/*CHECKOUT COMPLETE*/
.checkout-complete_card {
    background-color: white;
    color: black;
}

.checkout-complete_card h1 {
    color: #38706D;
}

.checkout-complete_card a {
    color: white;
    background-color: #08A689;
}

.checkout-complete_card a:hover {
    background-color: #00524f;
}

/*SIGN IN*/
.login-card {
    background-color: white;
}

.login-card h1 {
    color: #38706D;
}

.forgot-pw {
    color: #CFCFCF;
}

.forgot-pw:hover {
    color:#11D97C;
}

.login-card p {
    color: #CFCFCF;
}

.btn-sign {
    color: black;
}

.btn-sign:hover {
    color:#11D97C;
}