

/*-----GLOBAL SETTINGS-----*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*-----INDEX-----*/
/*header--*/
.header-index {
    background-image: linear-gradient(#002927f1, #00fff7ea),
    url(/images/background/index-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.index_hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.index_hero-btn {
    padding: 2.2rem 4rem;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    background-color: #161616;
}

.index_hero-btn:hover {
    color: #11D97C;
    text-decoration: underline;
}

.index_hero-content h3 a {
    color: #11D97C;
    font-style: italic;
}
.index_hero-content h3 a:hover {
    text-decoration: underline;
}

.index_hero-content h1 {
    font-size: 3.7rem;
}

.index_hero-content h2 {
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.index_hero-content h3 {
    margin-bottom: 5rem;
}

/*main--*/
.index_main {
    align-items: center;
    display: flex;
    padding: 6rem;
    justify-content: center;
    height: 90vh;
    margin-bottom: 0.7rem;
}

.index_main div h2 {
    margin-bottom: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
}

.index_main-content {
    padding: 2.5rem;
    margin-top: 1.7rem;
    background-color: #161616;
    height: 32rem;
    min-width: 30rem;
}

.index_main-content h3 {
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.index_main-content h4 {
    font-weight: normal;
}

.index-main_p-margin {
   margin-bottom: 7rem;
}

/*-----CONTACT-----*/

.header-contact {
    background-image: linear-gradient(#003331e3, #00fff7ea),
    url(/images/background/contact-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.contact-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-top: 3rem;
}

.contact-cards-email, .contact-cards-phone {
    width: 29rem;
    height: 30rem;
    padding: 2.5rem 3.2rem;
    background-color: #035949;
}

.contact-cards-email a, .contact-cards-phone a {
    margin-bottom: 3rem;
    display: block;
}

.contact-cards-email h3, .contact-cards-phone h3 {
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.contact-cards-email h4, .contact-cards-phone h4 {
    text-decoration: underline;
    margin-bottom: 4rem;
}

.contact-cards-email p, .contact-cards-phone p {
    margin-bottom: 0.7rem;
}

/*-----GAMES-MAIN-----*/
/*header--*/
.header_games-main {
    height: 100vh;
}

.games-main_flex {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.games-main_flex > div {
    padding-top: 5rem;
}

.games-main_flex div h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: normal;
}

.section_games-main {
    display: flex;
}

.games_preo-main-info {
    background-color: #161616;
    width: 25rem;
    height: 25rem;
    align-self: center;
    padding: 3rem 2.5rem;
}

.games_preo-main-info h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #11D97C;
}

.games_preo-main-info a {
    background-color: #08A689;
    padding: 1.5rem 4rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.games_preo-main-info a:hover {
    background-color:#11D97C;
    border: 0.1rem solid white;
}
.games_preo-main-info > div {
    width: 18rem;
    margin: auto;
}

.games_preo-main-info p {
    margin-bottom: 7rem;
}

.games-main_hero-header {
    position: absolute;
    top: 10rem;
    left:13rem;
    font-size: 3.5rem;
    letter-spacing: 0.3rem;
}
/*main--*/
.games-main_flex-main {
    padding-left: 17rem;
    height: 65vh;
    display: flex;
    justify-content: center;
}

.games-main_flex-main h2 {
    font-size: 1.8rem;
    font-weight: normal;
}
.main-section_games-main {
    display: flex;
    margin-top: 1rem;
}
.games-main_main-content{
    background-color: #161616;
    height: 22rem;
    width: 22rem;
    align-self: center;
    padding: 3rem 2rem;
}

.games-main_main-content h3 {
    margin-bottom: 1rem;
}

.games-main_main-content p {
    font-size: 0.85rem;
    margin-bottom: 3rem;
}

/*-----CONSOLE MAIN PAGES*/
.flex-center {
    width: 100%;
    display: flex;
    justify-content: center;
}
.game-header_green {
    color: #11D97C;
    margin-top: 9rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}
.games-many_container a img {
    min-width: 20rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}
.games-many_container {
    padding-left: 10rem;
    margin-bottom: 5rem;
}
.console-game_container .games-nav {
    padding-left: 5rem;
}
.console-game_container {
    display: flex;
    justify-content: left;
    width: 100%;
    padding-right: 7rem;
}
/*preo--*/
.header_preo {
    height: 100vh;
}
.preo-main_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}
.preo_main-content {
    background-color: #161616;
    align-self: center;
    height: 25rem;
    width: 25rem;
    padding: 3rem 2rem;
}

.preo_main-content h3 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
}
.preo_main-content p {
    padding-right: 3.5rem;
    margin-bottom: 5rem;
}

.preo_main-content div {
    display: flex;
    width: 100%;
}
.preo_main-content a i {
    background-color: #08A689;
    padding: 0.6rem;
}
.preo_main-content a i:hover {
    background-color: #11D97C;
    color: #003331;
}
.preo_main-content .preo-button {
    background-color: #08A689;
    padding: 0.8rem 5rem;
    margin-right: 1rem;
    font-weight: bold;
}
.preo_main-content .preo-button:hover {
    background-color: #11D97C;
    color: #003331;
}

/*-----GAMES-----*/
.games-specific_container {
    display: flex;
    padding-right: 10rem;
}
.games-specific_container .games-nav {
    padding-left: 5rem;
    margin-right: 10rem;
}
.games-specific_container img {
    margin-right: 5rem;
    max-width: 25rem;
    max-height: 30rem;
}


.games-specific_container-2 {
    display: flex;
    justify-content: space-between;
    line-height: 3;
    margin-bottom: 4rem;
}
.games-specific_container-2 h3 {
    font-size: 2rem;
    line-height: 1;
}
.games-specific_container-2 h4 {
    font-size: 1.2rem;
    font-weight: normal;
}
.games-specific_container-2 p {
    color: #CFCFCF;
}
.games-specific_margin-h4 {
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.games-specific_button-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 3rem;
}

.games-description {
    background-color: #161616;
    width: 37rem;
    padding: 3rem;
    margin-bottom: 5rem;
}
.games-description h5 {
    font-size: 1.1rem;
    text-decoration: underline;
    margin-bottom: 2rem;
}

/*-----CART-----*/
.cart-flex {
    display: flex;
    padding-left: 5rem;
}

.cart-cards h1 {
    margin-top: -1rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.cart-flex .games-nav {
    margin-right: 10rem;
}

.cart-cards_row-1 {
    display: flex;
    margin-bottom: 2.5rem;
}
/*cart-cards_row-1_1--*/
.cart-cards_row-1_1 {
    display: flex;
    padding: 2.5rem;
    margin-right: 2.5rem;
    background-color: #00333181;
    width: 40rem;
}

.cart-cards_row-1_1 h2 {
    font-size: 1.3rem;
    font-weight: 500;
}

.cart-cards_row-1_1 h3 {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 4rem;
}

.cart-cards_row-1_2 h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

.cart-cards_row-1_2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-cards_row-1_2 .cart-margin {
    margin-bottom: 8.5rem;
}

.img-remove_container {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.cart-cards .trash-can {
    color: #CFCFCF;
    display: block;
    align-self: center;
}

.cart-cards .trash-can:hover {
    color:  #11D97C;
}
/*total-sum card--*/
.total-sum {
    width: 27rem;
    flex-direction: column;
    display: flex;
    padding: 2.5rem;
    background-color: #00333181;
}

.total-sum_2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.total-sum h3 {
    font-size: 1.3rem;
    font-weight: normal;
    margin-bottom: 1.5rem;
}

.total-sum h4 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.total-sum hr {
    margin-bottom: 1rem;
    background-color:  #11D97C;
    border: 0.001rem solid  #11D97C;
}

.total-sum a {
    background-color: #161616;
    padding: 1rem;
    text-align: center;
}

.total-sum a:hover {
    color: #11D97C;
}
/*2 last cards--*/
.cart-cards_row-2 {
    background-color: #00333181;
    margin-bottom: 5rem;
    padding: 2.5rem;
}

.cart-cards_row-2 h3 {
    margin-bottom: 1rem;
    font-weight: normal;
}

.cart-cards_row-2 p {
    font-size: 0.8rem;
}

.cart-cards_row-2 i {
    margin-right: 1rem;
}

/*-----CART NO ITEM-----*/
.no-item_section {
    background-color: #00333181;
    padding: 5rem 15rem;
    display: flex;
    text-align: center;
}

.no-item_section div a {
    background-color: #161616;
    padding: 1.5rem 5rem;

}

.no-item_section div h2 {
    margin-bottom: 6rem;
}

.no-item_section .no-items_logo {
    margin-bottom: 1rem;
}

.no-item_section div a:hover {
    color: #11D97C;
}

/*-----CHECKOUT-1+2-----*/
.padding-top {
    padding-top: 6.1rem;
}
.checkout-1_card {
    background-color: white;
    padding: 2rem 3rem;
    height: 35rem;
    width: 30rem;
    border-radius: 2rem;
}

.checkout-1_card form {
    display: flex;
    flex-direction: column;
}

.checkout-flex_adress {
    display: flex;
    justify-content: space-between;
}

.form__input {
    display: block;
}

.checkout-flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-1_card h1 {
    color: #38706D;
    margin-bottom: 1rem;
}

label {
    color: #bdbdbd;
    font-size: 0.9rem;
    font-weight: 600;
}

input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #CFCFCF;
    width: 100%;
    margin-bottom: 0.7rem;
}

input:focus {
    outline: none !important;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #38706D;
}

select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #CFCFCF;
}

select:focus {
    outline: none !important;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.15rem solid #38706D;
}
/*button--*/
.checkout-1_card a {
    background-color: #08A689;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 1rem;
}

.checkout-1_card a:hover {
    background-color: #068069;
}

#email {
    margin-bottom: 4rem;
}
/*-----CHECKOUT-2-----*/

.checkout-flex_expiration {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.expiration {
    padding-right: 1.3rem;
}

.checkout-flex_2 {
    color: black;
    display: flex;
    flex-direction: column;
}

.checkout-flex_2-1 {
    display: flex;
    justify-content: space-between;
}

.checkout-flex_2 hr {
    margin-bottom: 0.5rem;
    background-color: #CFCFCF;
    border: 0.001rem solid #CFCFCF;
}

.checkout-flex_2-1 {
    margin-bottom: 1rem;
}

.checkout-flex_2-1 h3 {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
}

.checkout-flex_2-1 h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
}

/*-----CHECKOUT COMPLETE-----*/
.checkout-complete_card {
    background-color: white;
    color: black;
}

.checkout-complete_card h1 {
    color: #38706D;
}

.checkout-complete_card a {
    color: white;
    background-color: #08A689;
}

.checkout-complete_card a:hover {
    background-color: #00524f;
}

/*-----SIGN IN-----*/
.login-card {
    background-color: white;
}

.login-card h1 {
    color: #38706D;
}

.forgot-pw {
    color: #CFCFCF;
}

.forgot-pw:hover {
    color:#11D97C;
}

.login-card p {
    color: #CFCFCF;
}

.btn-sign {
    color: black;
}

.btn-sign:hover {
    color:#11D97C;
}