

/*GLOBAL SETTINGS*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*INDEX*/
.index_hero-content h3 a {
    color: #11D97C;
}

.index_hero-content h2 a {
    background-color: #161616;
}

.index_main-content {
    background-color: #161616;
}

/*CONTACT*/


